<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<style>
body {
    position: relative;
}
.newShelter {
    width: 600px;
    font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 4px;
    border: 2px solid grey;
    position: relative;
    text-align: left;
    font-size: 1.1em;
    padding-left: 4px;
    padding-right: 4px;
}
</style>
</head>

<body>


<h1>Please add a shelter using the following form.</h1><br />
<div class='newShelter'>
{% from "_form.html" import render_field %}

<form action="{{url_for('addShelter')}}" method = 'POST' id='newShelter'>
<dl>
    {{ form.csrf_token }}
    {{ render_field(form.name, size=50) }}
    {{ render_field(form.address, rows=5, cols=52) }}
    {{ render_field(form.city, size=50) }}
    {{ render_field(form.state, size=2)}}
    {{ render_field(form.zipcode, size=5) }}
    {{ render_field(form.website, size=50) }}
    {{ render_field(form.occupancy, size=3, value='0') }}
    {{ render_field(form.capacity, size=3) }}

<br />
<br />
<input type = 'submit' value='Create'>
<a href = "{{ url_for('shelters')}}"><input type="button" value="Cancel" /></a>
</dl>
</form>

</div> 

</body>
</html>
