<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>Modify puppy</title>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/puppies">AdoptUsDogs</a>
        </div>
        <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{url_for('gdisconnect')}}">Logout</a></li>
            </ul>
     </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="wrapper">
<h1>Here is the puppy that you chose to modify.</h1><br />

<form action="{{url_for('editPuppy', puppy_id=puppy.id)}}" method = 'POST'  enctype="multipart/form-data" id="editPuppy2">
<img src='/static/images/{{puppy.stats.picture}}' alt="Picture not available" style="width:150px; height:150px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px;" class="fLeft" />

<div class="hiddenPicture">
<h3 class="fLeft"><br />&larr; old<br /><br /><br />
new &rarr;&nbsp;</h3>
<img alt="Picture not available" style="width:150px; height:150px; margin-right: 10px; margin-bottom: 10px;" id="hiddenPicture" />
</div>

<label for='picture' id='pictureLabel'>Replace image?<br />Please choose an image file less than 2Mb.<br />(the old image will be removed)</label>
<div id="editPuppy">
<input type = 'file' name='picture' id='newPuppyPicture' accept="image/*" class="form-control">
<input type = 'hidden' name='oldPicture' value="{{puppy.stats.picture}}">

<br />
<p style="Clear: left;">Name:</p>
<input type = 'text' size='30' name='name' value="{{puppy.name}}" class="form-control">
<br />
<p>Gender:</p>
<input type = 'text' size='30' name='gender' value="{{puppy.gender}}" class="form-control">
<br />
<p>Date of birth (YYYY-MM-DD):</p>
<input type = 'text' size='30' name='dateOfBirth' value="{{puppy.dateOfBirth}}"class="form-control">
<br />
<p>Weight (lbs):</p>
<input type = 'text' size='30' name='weight' value="{{puppy.weight}}" class="form-control"><br />
<p>Any particular needs that your puppy might have?</p>
<textarea size='500' name='needs' id='needs' rows='5' cols='100' form='editPuppy2' class="form-control">{{puppy.stats.needs}}</textarea><br />

{{ form.csrf_token }}
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<button button class="btn btn-default" type = 'submit'>Modify</button>
<a href = "{{ url_for('idShelters', shelter=puppy.shelter_id)}}"><button class="btn btn-default" type="button" style="color: black;" />Cancel</button></a>
</div>
</form>

</div>

<script>
$(document).ready(function() {
     $("#newPuppyPicture").change(function(){

        var x = $("#newPuppyPicture")[0].files[0].size;
        y= x/(1024*1024);
        if (y > 2) {
            alert( "The picture file size is greater than 2Mb. \nPlease choose a smaller file." );
            event.preventDefault();
            $("#newPuppyPicture").val("");
        }       
        else {
            if (typeof (FileReader) != "undefined") {
                var hidden_picture = $("#hiddenPicture");
                var reader = new FileReader();
                reader.onload = function (e) {
                   hidden_picture.attr("src" , e.target.result);
                }
                $(".hiddenPicture").show();
                $("#pictureLabel").hide();
                reader.readAsDataURL($(this)[0].files[0]);
                } else {
                alert("This browser does not support FileReader/upload preview.");
                }
            }
  });
});
</script>



</body>
</html>
